.shows {
  display: flex;
}

.show {
  padding: 0 1ch;
  color:rgb(255, 255, 255);
}

.show:not(:last-child) {
  border-right: 1px solid rgb(245, 244, 244);
}



.show-details {
  display: grid;
  gap: 1rem;
}

@media (width >= 500px) {
  .show-details {
    grid-template-columns: minmax(30ch, auto) 1fr;
  }
}