.episodes ol {
  list-style: none;
}

.episodes li {
  padding: 0.5rem;
}

.episodes li:hover,
.episodes li.selected {
  background: #f1eded;
  cursor: pointer;
  color:black;
}

.episodes li:not(:last-child) {
  border-bottom: 1px solid #333;
}

.episode-details {
  display: flex;
  flex-direction: column;
  gap: 1ch;
}
button {
  background-color: white;
  color: black;
  border: 2px solid #e00303; 
}
button {width: 250px;}

.button {
  box-shadow: 0 12px 16px 0 rgba(22, 22, 22, 0.24), 0 17px 50px 0 rgba(7, 7, 7, 0.19);
}